<article class="module-entry">
    <figure><img src="{{ id | default() }}" alt="{{ title | default() }}" width="235" height="335">
    </figure>
    <h3>{{ title | default() }}</h3>
    <p>{{ text | default() }}<a href="./{{ id | default() }}">More...</a></p>
    <figure class="background">
        <img src="images/background-g.png" alt="Placeholder" width="105" height="45"></figure>
</article>