<div class="module-entry a">
    <figure><img src="{{ project.image | default() }}" alt="{{ project.title | default() }}" width="575" height="385">
    </figure>
    <h3>{{ project.title | default() }}</h3>
    <p>{{ project.intro_text | default() }}</p>
    <p class="link-btn"><a class="a" href="{{ path('competition', {'id': project.id}) }}">More <i
                    class="icon-arrow-right"></i></a></p>
</div>