<!doctype html>
<html lang="en" dir="ltr">
{{ include('_head.html.twig') }}
<body>
<div id="root">
    {{ include('_header.html.twig') }}
    <main id="content">
        <div class="cols-a">
            <article>
                <header class="heading-title">
                    <h1>{{ booklist | default('Booklist') }}</h1>
                </header>
                <ul class="list-results a">
                    <li>
                        <figure><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200">
                        </figure>
                        <h2>A Great Big Cuddle: Poems for the Very Young<br> Michael Rosen</h2>
                        <ul>
                            <li>Publisher</li>
                            <li>ISBN</li>
                            <li>publication date</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. enean in erat rhoncus orci vel,
                            fringilla est. Nam vel condimentum adipiscing elit. Ae animals</p>
                        <p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
                    </li>
                    <li>
                        <figure><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200">
                        </figure>
                        <h2>A Great Big Cuddle: Poems for the Very Young<br> Michael Rosen</h2>
                        <ul>
                            <li>Publisher</li>
                            <li>ISBN</li>
                            <li>publication date</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. enean in erat rhoncus orci vel,
                            fringilla est. Nam vel condimentum adipiscing elit. Ae animals</p>
                        <p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
                    </li>
                    <li>
                        <figure><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200">
                        </figure>
                        <h2>A Great Big Cuddle: Poems for the Very Young<br> Michael Rosen</h2>
                        <ul>
                            <li>Publisher</li>
                            <li>ISBN</li>
                            <li>publication date</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. enean in erat rhoncus orci vel,
                            fringilla est. Nam vel condimentum adipiscing elit. Ae animals</p>
                        <p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
                    </li>
                    <li>
                        <figure><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200">
                        </figure>
                        <h2>A Great Big Cuddle: Poems for the Very Young<br> Michael Rosen</h2>
                        <ul>
                            <li>Publisher</li>
                            <li>ISBN</li>
                            <li>publication date</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. enean in erat rhoncus orci vel,
                            fringilla est. Nam vel condimentum adipiscing elit. Ae animals</p>
                        <p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
                    </li>
                    <li>
                        <figure><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200">
                        </figure>
                        <h2>A Great Big Cuddle: Poems for the Very Young<br> Michael Rosen</h2>
                        <ul>
                            <li>Publisher</li>
                            <li>ISBN</li>
                            <li>publication date</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. enean in erat rhoncus orci vel,
                            fringilla est. Nam vel condimentum adipiscing elit. Ae animals</p>
                        <p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
                    </li>
                    <li>
                        <figure><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200">
                        </figure>
                        <h2>A Great Big Cuddle: Poems for the Very Young<br> Michael Rosen</h2>
                        <ul>
                            <li>Publisher</li>
                            <li>ISBN</li>
                            <li>publication date</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. enean in erat rhoncus orci vel,
                            fringilla est. Nam vel condimentum adipiscing elit. Ae animals</p>
                        <p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
                    </li>
                    <li>
                        <figure><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200">
                        </figure>
                        <h2>A Great Big Cuddle: Poems for the Very Young<br> Michael Rosen</h2>
                        <ul>
                            <li>Publisher</li>
                            <li>ISBN</li>
                            <li>publication date</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. enean in erat rhoncus orci vel,
                            fringilla est. Nam vel condimentum adipiscing elit. Ae animals</p>
                        <p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
                    </li>
                    <li>
                        <figure><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200">
                        </figure>
                        <h2>A Great Big Cuddle: Poems for the Very Young<br> Michael Rosen</h2>
                        <ul>
                            <li>Publisher</li>
                            <li>ISBN</li>
                            <li>publication date</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. enean in erat rhoncus orci vel,
                            fringilla est. Nam vel condimentum adipiscing elit. Ae animals</p>
                        <p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
                    </li>
                </ul>
                <nav class="nav-pagination">
                    <ol>
                        <li class="prev"><a href="./">Prev<span class="hidden">ious</span></a></li>
                        <li><a href="./">1</a></li>
                        <li class="active"><a href="./">2</a></li>
                        <li><a href="./">3</a></li>
                        <li><a href="./">4</a></li>
                        <li><a href="./">5</a></li>
                        <li>...</li>
                        <li><a href="./">120</a></li>
                        <li class="next"><a href="./">Next</a></li>
                    </ol>
                </nav>
            </article>
            <aside>
                {{ include('_twitter.html.twig  ') }}
            </aside>
        </div>
    </main>
    {{ include('_footer.html.twig') }}
</div>
{{ include('_footer-scripts.html.twig') }}
</body>
</html>
