<!doctype html>
<html lang="en" dir="ltr">

{{ include('_head.html.twig') }}

<body>
<div id="root">
    <header id="top">
        {{ include('_header.html.twig') }}
    </header>
    <main id="content">
        <article class="module-wide theme-coral light">
            <header class="cols-a">
                <div class="heading-title a">
                    <h1>Latest Books &amp; extracts</h1>
                    <p class="link-btn">
                        {#<a href="./" class="light desktop-only">See all latest booklists <i
                                    class="icon-arrow-right"></i></a>#}
                        <a href="{{ path('book_list', {'list':'families'}) }}">See all latest books <i
                                    class="icon-arrow-right"></i></a>
                    </p>
                </div>
            </header>
            <div class="cols-a">
                <div>
                    <div class="tabs-a">
                        <nav>
                            <ul>
                                <li><a href="./">0+</a></li>
                                <li><a href="./">3+</a></li>
                                <li><a href="./">5+</a></li>
                                <li><a href="./">7+</a></li>
                                <li><a href="./">9+</a></li>
                                <li><a href="./">11+</a></li>
                                <li><a href="./">14+</a></li>
                            </ul>
                        </nav>
                        <div>
                            {% for age in age_ranges %}
                                <div>
                                    <ul class="list-aside slider" data-count="2">
                                        {% for highlighted_book in books[age] %}
                                            <li>
                                                {% include('_book_teaser.html.twig') with {'book': highlighted_book } %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <p class="link-btn" style="float: right;"><a
                                                href="{{ path('book_list', {'list':'families'}) }}">More <i
                                                    class="icon-arrow-right"></i></a>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <aside class="mobile-hide">
                    <figure><a rel="external" href="./"><img src="http://placehold.it/300x400" alt="Placeholder"
                                                             width="300" height="400"></a></figure>
                </aside>
            </div>
            <div class="double a">
                <div>
                    <h2 class="s35">This months picks <a href="./" class="text-right">See all</a></h2>
                    {{ include('_families_video_block.html.twig') }}
                </div>
                <div>
                    <h2 class="s35">Growing Readers <a href="./" class="text-right">See all</a></h2>
                    {{ include('_families_video_block.html.twig') }}
                </div>
            </div>
        </article>
        <article class="module-wide theme-coral">
            <header class="heading-title a">
                <h2><span class="mobile-hide">ReadingZone</span> Authors of the Month</h2>
                <p class="link-btn"><a class="a" href="./">See all authors <i class="icon-arrow-right"></i></a></p>
            </header>
            <div class="tabs-a">
                <nav>
                    <ul>
                        <li><a href="./">Picture book</a></li>
                        <li><a href="./">Children</a></li>
                        <li><a href="./">Teenagers</a></li>
                        <li><a href="./">Young Adult</a></li>
                        <li><a href="./">Debut</a></li>
                        <li><a href="./">Featured Authors</a></li>
                    </ul>
                </nav>
                <div>
                    {% for range_month in authors %}
                        <div>
                            <ul class="list-aside slider">
                                {% for book in range_month %}
                                    <li>
                                        {% include('_book_teaser.html.twig') with {'book': book } %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </article>
        <article class="module-wide theme-coral light">
            <div class="double a">
                <div>
                    <h2 class="s35 overlay-b">Competitions <i class="icon-podium"></i> <a href="./" class="text-right">See
                            all</a></h2>
                    <div class="module-entry a">
                        <figure><img src="http://placehold.it/575x385" alt="Placeholder" width="575" height="385">
                        </figure>
                        <h3>Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus
                            orci vel, fringilla est. Nam vel condimentum odio.</p>
                        <p class="link-btn"><a class="a" href="./">More <i class="icon-arrow-right"></i></a></p>
                    </div>
                </div>
                <div>
                    <h2 class="s35 overlay-b">Creative Projects <i class="icon-pencils"></i> <a href="./"
                                                                                                class="text-right">See
                            all</a></h2>
                    <div class="module-entry a">
                        <figure><img src="http://placehold.it/575x385" alt="Placeholder" width="575" height="385">
                        </figure>
                        <h3>Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus
                            orci vel, fringilla est. Nam vel condimentum odio.</p>
                        <p class="link-btn"><a class="a" href="./">More <i class="icon-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
        </article>
        <article class="module-wide theme-coral">
            <h2 class="s35">This month’s highlights <i class="icon-sun"></i></h2>
            <ul class="list-entries">

                {% for key, type in project_types %}
                    {% if latest_projects[key].id is defined %}
                        <li class="{{ themes[key] }}">
                            <h3>{{ type }}</h3>
                            <figure><img src="/project-assets/{{ latest_projects[key].image |default('') }}"
                                         alt="Placeholder"
                                         width="235"
                                         height="335"></figure>
                            <div>
                                <h4>{{ latest_projects[key].title |default('') }}</h4>
                                <p>{{ latest_projects[key].intro_text |default('') }}</p>
                                <p class="link-btn">
                                    <a href="./">More <i class="icon-arrow-right"></i></a>
                                    <a href="./">Make &amp; Send Your Own <i class="icon-arrow-right"></i></a>
                                </p>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </article>
        <article class="module-wide theme-coral light">
            <div class="cols-a a">
                <div>
                    <header class="heading-title">
                        <h1 class="overlay-b">Bookshop <i class="icon-books"></i></h1>
                    </header>
                    {{ include('_bookshop_homepage.html.twig') }}
                </div>
                <aside>
                    <h2 class="s35 overlay-b">News <i class="icon-news"></i></h2>
                    <ul class="list-related">
                        {{ include('_list-related.html.twig') }}
                    </ul>
                    <h2 class="s35 overlay-b">Twitter <i class="icon-twitter"></i></h2>
                    {{ include('_twitter.html.twig') }}
                </aside>
            </div>
        </article>
    </main>
    <footer id="footer">
        {{ include('_footer.html.twig') }}
    </footer>
</div>
{{ include('_footer-scripts.html.twig') }}
</body>
</html>
